[Unit]
Description=Run wallpaper.service every X minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=2min
Unit=wallpaper.service

[Install]
WantedBy=default.target
